body{
    background-color: white;
}

.navbar-default {
    padding-top: 2rem;
    padding-bottom: 0rem;
}

#navbar > li > a {
    color: white;
}

#navbar > li >a > i {
    margin-left: 5px;
  }  

#navbar > li > a#current{
    background-color: white;
    color: #E10026;
}

#navbar > li > a:hover {
    background-color: white;
    color: #E10026;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.navbar-brand {
    margin-top: -1.3rem;
}

ul ul {
    list-style-type: none;
    padding-left: 0;
}

.leiding{
    border-radius: 10px;
}

a {
    color: #E10026;
}

a:hover {
    color: black;
}

.card > a {
    color: black;
}

.card-header > a {
    color: black;
}

.img-carousel {
    border-radius: 10px;
    width: inherit;
    height: inherit;
}

.text-carousel {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.text-carousel > a {
    color: white;
    text-decoration: underline;
}

.container {
    margin-top: 1rem;
}

